<!DOCTYPE html>
<html lang="em">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Silkes JavaScript SearchBar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script> 
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
<div id="app" class="cent">
  <input id="inputField" v-model="word" placeholder="A word please.." class="mx-1">
  <button id="button" class="btn btn-primary mx-1" v-on:click="wordManipulation">Results</button>
  <table class="table table-striped" v-if="words.length > 1">
    <tbody>
      <tr v-for="prop in words">
        <td>{{prop}}</td>
      </tr>
    </tbody>
  </table>
</div>
<script src="Opg3JavaScript.js"></script>
</body>
</html>