<!DOCTYPE html>
<html lang="em">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Silkes JavaScript SearchBar</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<h1><u>Search on a word</u></h1>
<div id="app">
    <div class="search-container" style="display: flex; align-items: center; margin-right: 10px;">
      <input v-model="searchQuery" placeholder="Search...">
      <button v-on:click="search">Search</button>
    </div>
    <div class="search-results" v-if="searchResults.length">
      <h3>Results:</h3>
      <ul>
        <li v-for="result in searchResults"></li>
      </ul>
    </div>
</div>
<script src="Opg3JavaScript.js"></script>
</body>
</html>